<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/juego.css">
    <title>Juego de Canicas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Juego de Canicas</h1>
    <div class="contenedor">
        <div class="puntos">
            <div class="cont">
            <p class="puntosnumer">Numero:</p><p class="puntosnumer" id="numero">0</p>
            </div> 
            <div class="cont">
                <p class="puntosnum">Tu puntuacion:</p><p class="puntosnum" id="puntos">15</p></div>
            </div>
        <div class="contiene">
        <div class="botones"><button class="noclick" id="odd">Par</button></div>
        <div class="botones"><button class="noclick" id="even">Impar</button></div>
        </div>
    </div>
</body>
<script src="js/js.js"></script>
</html>
